// 网站皮肤偏好
$themes: (
        // 明亮
        light: (
                primary: #0080FF,
                warning: #ffc700,
                success: #20d489,
                danger: #f1416c,
                info: #5710b2,
                primaryBackground: #e7f6ff,
                successBackground: #e4fff4,
                warningBackground: #fff8dd,
                dangerBackground: #ffeff3,
                infoBackground: #f6f1fc,
                primaryText: #013568,
                regularText: #698096,
                grayText: #BFCCD9,
                LightText: #d1e3f5,
                lightBackground: #f3f6f9,
                cardBoxShadow: 0 0 10px rgba(#698096, 0.2),
                primaryBoxShadow: 0px 3px 10px #cceafc,
        ),
        // 暗夜
        dark: (

        )
)
